<!--<div class="navbar-default sidebar" role="navigation" style="margin-top: 100 px !important;">-->
    <!--<div class="sidebar-nav navbar-collapse">-->
        <!--<ul class="nav" id="side-menu">-->
            <!--<li>-->
                <!--<a href="#" name="listofdevices" class="sidebar-item"><i class="fa fa-wrench fa-fw"></i> Devices</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<li class="sidebar-search">-->
    <div class="input-group custom-search-form">
    <input id="search_youtube_input" class="form-control" type="text" placeholder="Search youtube media here...">
        <span class="input-group-btn">
            <button id="search_youtube" class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
<!--</li>-->


<!-- All js functionality for this page -->
<script src="../static/js/page_specific/sidebar.js"></script>
